* {
  box-sizing: border-box;
}

.white {
  color: white;
  margin-left: 20px;
}
body {

  background-image: url(../images/logo.png);
}

#imagediv {

  background-image: url(../images/jpmain.png);
  width:80%;
  height: 700px;
  margin: 0 auto;
}


#placeholders {
  color: white;
  letter-spacing: 20px;
  font-size: 40px;
  margin: 0 5%;
}

#game {
  color: white;
  padding: 5%;

}


.pic{
  height: 250px;
  text-align: center;
  /* visibility: hidden; */
  /* I was going to make an image visible upon gaining a win, but my reset seemed to make it disappear or override this condition */
}