* {
  box-sizing: border-box;
}

.white {
  color: white;
}
body {

  background-image: url(../images/logo.png);
}

#imagediv {

  background-image: url(../images/jpmain.png);
  width:80%;
  height: 700px;
  margin: 0 auto;
}
