* {
  box-sizing: border-box;
}

.white {
  color: white;
}
body {

  background-image: url(../images/logo.png);
}

#imagediv {

  background-image: url(../images/jpmain.png);
  width:80%;
  height: 700px;
  margin: 0 auto;
}


#placeholders {
  color: white;
  letter-spacing: 20px;
  font-size: 40px;
  margin: 0 5%;
}

#game {
  color: white;
}